<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.project.trip.mapper.CustomerCenterMapper">
  	<resultMap type="noticevo" id="noticeMap">
  		<id column="not_no" property="not_no"/>
  		<result column="not_title" property="not_title"/>
  		<result column="not_date" property="not_date"/>
  		<result column="not_contents" property="not_contents"/>
  	</resultMap>
  	
  	<insert id="insertNotice">
  		INSERT INTO notice_tbl (not_title, not_date, not_contents) VALUES (#{not_title}, #{not_date}, #{not_tel})
  	</insert>
  	
  	<select id="getNoticeList" resultType="noticevo">
  		SELECT * FROM notice_tbl ORDER BY not_no DESC
  	</select>
  	
  	<select id="getNoticeOne" resultType="noticevo">
  		SELECT * FROM notice_tbl WHERE not_no = #{not_no}
  	</select>
  	
  	<select id="getNoticeListByTitle" resultType="noticevo">
		SELECT * FROM notice_tbl WHERE not_title LIKE CONCAT ('%', #{not_title}, '%') ORDER BY not_no DESC
	</select>
  
	<insert id="insertQNA">
		INSERT INTO res_qna_tbl (id, res_no, res_qna_title, res_qna_contents, res_qna_date) VALUES (#{id}, #{res_no}, #{res_qna_title}, #{res_qna_contents}, NOW())
	</insert>
	
	<select id="getResQNAList" resultType="resqnavo">
		SELECT * FROM res_qna_tbl WHERE id = #{id} ORDER BY res_qna_no DESC
	</select>
	
	<select id="getResQNAOne" resultType="resqnavo">
		SELECT * FROM res_qna_tbl WHERE res_qna_no = #{res_qna_no}
	</select>
	
  	<select id="getFAQList" resultType="faqvo">
		SELECT * FROM faq_tbl ORDER BY faq_no DESC
	</select>
	
	<select id="getFAQListByTitle" resultType="faqvo">
		SELECT * FROM faq_tbl WHERE faq_title LIKE CONCAT ('%', #{faq_title}, '%') ORDER BY faq_no DESC
	</select>
	
  </mapper>