<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.trip.mapper.IMemberMapper">
	<insert id="insertMember">
  		INSERT INTO member (id,pw,name,birth,gender,tel,email,email_check,address,address_detail,postalcode)
  		VALUES(#{id},#{pw},#{name},#{birth},#{gender},#{tel},#{email},#{email_check},#{address},#{address_detail},#{postalcode})
  	</insert>
  	<select id="idOverCheck" resultType="_int">
  		SELECT COUNT(*) FROM member WHERE id=#{mid}
  	</select>
  	<select id="login" resultType="_int">
  		SELECT COUNT(*) FROM member WHERE id=#{mid} AND pw=#{mpw}
  	</select>
  	<select id="findId" resultType="String">
  		SELECT id FROM member WHERE name=#{fname} AND tel=#{ftel}
  	</select>
  	<select id="findPw" resultType="String">
		SELECT pw FROM member WHERE id=#{param1} AND email=#{param2} 	
  	</select>
  	<select id="selectOne" resultType="com.project.trip.vo.MemberVO">
  		SELECT * FROM member WHERE id=#{selId}
  	</select>
  	<update id="updateMember">
  		UPDATE member SET pw=#{pw} , name=#{name} , birth=#{birth},email=#{email},email_check=#{email_check}, address=#{address} ,address_detail=#{address_detail},
  		postalcode=#{postalcode} WHERE id=#{id}
  	</update>
  	<delete id="deleteMember">
		DELETE FROM member WHERE id=#{delId}  	
  	</delete>
  	<select id="getReservation" resultType="com.project.trip.vo.ReserVO">
  		SELECT * FROM reservation WHERE id=#{reserId}
  	</select>
</mapper>
