<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.trip.mapper.IMemberMapper">
	<insert id="insertMember">
  		INSERT INTO member (id,pw,name,birth,gender,tel,email,email_check,address,address_detail,postalcode)
  		VALUES(#{id},#{pw},#{name},#{birth},#{gender},#{tel},#{email},#{email_check},#{address},#{address_detail},#{postalcode})
  	</insert>
  	<select id="idOverCheck" resultType="_int">
  		SELECT COUNT(*) FROM member WHERE id=#{mid}
  	</select>
  	<select id="login" resultType="_int">
  		SELECT COUNT(*) FROM member WHERE id=#{mid} AND pw=#{mpw}
  	</select>
  	<select id="findId" resultType="String">
  	
  	</select>
  	<select id="findPw" resultType="String">
		  	
  	</select>
</mapper>
