<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.trip.mapper.ProductMapper">
  
	<select id="getList" resultType="com.project.trip.vo.ProductVO">
	SELECT * FROM product_tbl
	</select>

	<select id="getListOne" resultType="com.project.trip.vo.ProductVO">
	SELECT * FROM product_tbl WHERE prod_no=#{no} 
	</select>
	
	<insert id="reg_like">
	INSERT INTO like_tbl (id,prod_no) VALUES (#{id},#{prod_no})
	</insert>
	<delete id="remove_like">
	DELETE FROM like_tbl WHERE id = #{id} AND prod_no = #{prod_no}
	</delete>
	
	<select id="search_like" resultType="_int">
	 SELECT COUNT(*) FROM like_tbl WHERE id = #{id} AND prod_no = #{prod_no}
	</select>
	
	<select id="search_prodName" resultType="String">
	SELECT prod.prod_name FROM product_tbl prod, order_tbl orde WHERE orde.prod_no = prod.prod_no AND orde.id = #{id} AND orde.prod_no = #{prod_no}
	</select>
	
	<select id="search_prodName2" resultType="com.project.trip.vo.ProductVO">
	SELECT prod.prod_name, prod.prod_no FROM product_tbl prod, order_tbl orde WHERE orde.prod_no = prod.prod_no AND orde.id = #{id}
	</select>
	
	
</mapper>