<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.trip.mapper.IReservationMapper">

	<insert id="reg_reservation">
		INSERT INTO reservation_tbl (id,prod_no,res_date,res_child,res_adult,res_price,res_desc,res_third) VALUES (#{id},#{prod_no},CURDATE(),#{res_child},#{res_adult},#{res_price},#{res_desc},#{res_third})
	</insert>

	<select id="getResInfoById" resultType="reservo">
		SELECT * FROM reservation_tbl WHERE id = #{id}
	</select>
	
	<select id="getResNonMember" resultType="com.project.trip.dto.Non_resDTO">
	SELECT res.res_no, res.id, mem.name, mem.tel, res.prod_no, pro.prod_name, res.res_date, pro.prod_price_adult, res.res_adult, pro.prod_price_child, res.res_child, res.res_price, pro.prod_detail, res.res_desc  
	FROM reservation_tbl res, member_tbl mem, product_tbl pro 
	WHERE res.id = mem.id AND res.prod_no = pro.prod_no AND res.id = #{id} AND mem.pw = #{pw} AND mem.authority = 'g'
	</select>
	
	<select id="non_idCheck" resultType="int">
  		SELECT COUNT(*) FROM member_tbl WHERE id=#{id} AND authority = 'g'
  	</select>

</mapper>