@charset "UTF-8";
.complete_section {
	height: 600px;
	width: 1000px;
	margin: 0 auto;
}

.complete_img img {
	margin-top: 80px;
	width: 300px;
	height: 300px;
}

.complete_msg {
	
	font-size: 30px;
}

.complete_login {
	font-size: 30px;
}

.complete_login img {
	width: 100px;
	height: 100px;
}

button {
	width: 400px;
	height: 50px;
	border: none;
	background-color: #DC143C;
}

button:hover {
	background-color: #F08080;
}