@charset "UTF-8";
a {
	cursor: pointer;
}
.cuc_box {
	width: 1280px;
	height: 100%;
}
.lnb {
	position: relative;
	width: 180px;
	height: 700px;
	float: left;
	margin-right: 30px;

}
.lnb_title {
	width: 180px;
	height: 100px;
	line-height: 90px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	border-bottom: solid 4px #424242;
}
.lnb > ul {
	text-align: left;
	width: 180px;
	height: 400px;
	margin-top: 18px;
	
}

.lnb > ul > li {
	line-height: 60px;
	width: 180px;
	height: 60px;
	font-size: 16px;
	border-top: 1px solid #ccc;
}
.lnb > ul >li:nth-child(1){
	border-top: transparent;
}
.middle_title{
	display: inline-block;
	width: 1050px;
	height: 100px;
	text-align: left;
	line-height: 90px;
	font-weight: bold;
	font-size: 22px;
}

.middle_content {
	float: left;
	width: 750px;
	height: 100%;
}
.ad_middle_content {
	float: left;
	width: 500px;
	height: 100%;
	margin-right: 20px;
}
.search_box{
	width: 750px;
	height: 60px;
	text-align: left;
}
.search_input {
	width: 650px;
	height: 60px;
	border: 3px solid rgba(37, 33, 33, 0.945);
	padding-top: 3px;
	margin-right: 0;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.search_button {
	width: 100px;
	height: 60px;
	border: 3px solid rgba(37, 33, 33, 0.945);
	background-color: rgba(37, 33, 33, 0.945);
	color: white;
	font-weight: bold;
	padding-left: 0;
	margin-left: 0;
	float: left;
	cursor: pointer;
}
.guidance {
	width: 750px;
	height: 100%;
	
}
.guide_title {
	width: 750px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-top: 80px;
	margin-bottom: 20px;
}
.guide_title > span {
	float: right;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
}
.cuc_list {
	text-align: left;
	margin-bottom: 20px;
}

.cuc_list > li {
	padding: 20px 0 20px 15px;
	border-top: 1px solid #ccc;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.cuc_list > li:first-child {
	border-top: 2px solid rgba(37, 33, 33, 0.945);
}
.cuc_list > li:last-child {
	border-bottom: 2px solid rgba(37, 33, 33, 0.945);
}

.right_content {
	float: left;
	width: 300px;
	height: 800px;
	margin-left: 20px;
}

.right_box{
	width: 300px;
	height: 120px;
	border: 2px solid rgba(37, 33, 33, 0.945);
	padding: 15px 18px;
	text-align: left;
}
.txt_box > p {
	margin: 2px 0;
}
.btn_box{
	margin-top: 10px;
}
.q_btn {
	width: 120px;
	height: 30px;
	background-color: transparent;
	border: #ccc solid 1px;
	border-radius: 2px;
	cursor: pointer;
}
.right_box2{
	width: 300px;
	height: 165px;
	padding: 23px 25px;
	background-color: #F2F2F2;
	text-align: left;
	background-image: url(/img/tel-icon.png);
	background-repeat: no-repeat;
	background-position: 85%;
}
.right_box2 > p {
	padding: 14px 0px;
	font-size: 18px;
	font-weight: bold;
}
.right_box2 > p:last-child {
	font-size: 24px;
	font-weight: 1500;
}
.cnotice_title{
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;	
}
.cnotice_title > span {
	float: right;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
}

/* FAQ page */
.main_faq {
	float: left;
	width: 1070px;
	height: 100%;
}
.faq_board {
	width: 1070px;
	height: 100%;
}
.faq_title {
	width: 1070px;
	height: 30px;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 34px;
}
.faq_search {
	width: 500px;
	height: 50px;
	float: right;
}
.faq_search_input {
	width: 200px;
	height: 40px;
	float: right;
	margin-right: 10px;
	padding: 3px 10px;
	border: #ccc solid 1px;
}
.faq_search_input:focus {
	border: #e82835 solid 1px;
}
.faq_search_btn {
	width: 100px;
	height: 40px;
	float: right;
	margin-right: 10px;
	background-color: white;
	border: #ccc solid 1px;
	cursor: pointer;
	color: #e82835;
}

.faq_cont{
	display:none;
	margin-top: 20px;
	height: 100%;
	white-space: normal;
}
.faq_list {
	text-align: left;
	margin-bottom: 20px;
}

.faq_list > li {
	padding: 20px 0 20px 15px;
	border-top: 1px solid #ccc;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.faq_list > li:last-child {
	text-align: center;
}
.faq_subj {
	cursor: pointer;
}

.faq_subj > strong {
	pointer-events: none;
}
.downside{
	float:right;
	width:50px;
	height:19px;
	background-image: url(/img/downside.png);
	background-size:50%;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
}

/* notice page */
.main_notice {
	float: left;
	width: 1070px;
	height: 1000px;
}
.notice_board {
	width: 1070px;
	height: 800px;
}
.notice_title {
	width: 1060px;
	height: 30px;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 34px;
}
.cuc_search {
	width: 500px;
	height: 50px;
	float: right;
}
.cuc_search_input {
	width: 200px;
	height: 40px;
	float: right;
	margin-right: 10px;
	padding: 3px 10px;
	border: #ccc solid 1px;
}
.cuc_search_input:focus {
	border: #e82835 solid 1px;
}
.cuc_search_btn {
	width: 100px;
	height: 40px;
	float: right;
	margin-right: 10px;
	background-color: white;
	border: #ccc solid 1px;
	cursor: pointer;
	color: #e82835;
}
#page > span {
	margin-left: 20px;
	cursor: pointer;
}
.current_page {
	color: #e82835;
	font-weight: bold;
}
.main_post{
	width: 1070px;
	height: 100%;
	float: left;
}
.notice_post{
	width: 100%;
	height: 100%;
}
.title_area {
	width: 1070px;
	height: 60px;
	border-top: 1px solid black;
	border-bottom: 1px solid #ccc;
}
.post_title {
	width: 800px;
	height: 55px;
	float: left;
	padding: 20px 20px;
	text-align: left;
	font-size: 18px;
}
.ad_title_area {
	width: 1070px;
	height: 90px;
	border-top: 1px solid black;
	border-bottom: 1px solid #ccc;
}
.ad_post_title {
	width: 800px;

	float: left;
	padding: 20px 30px;
	text-align: left;
	font-size: 18px;
}
.post_date {
	width: 260px;
	height: 55px;
	float: left;
	padding: 22px 20px;
	text-align: right;
	font-size: 15px;
}
.post_contents {
	width: 100%;
	height: 100%;
	min-height: 200px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 30px 30px;
}
.l_btn {
	width: 150px;
	height: 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
	background-color: white;	
	font-size: 18px;
}
.a_l_btn {
	width: 150px;
	height: 70px;
	margin-top: 30px;
	margin-bottom: 50px;
	border: 1px solid #ccc;
	background-color: white;	
	font-size: 18px;
	float: right;
}
.s_btn {
	width: 150px;
	height: 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: transparent;
	background-color: #e82835;	
	font-size: 18px;
	color: white;
}
.d_btn {
	width: 150px;
	height: 70px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: transparent;
	background-color: #e82835;	
	font-size: 18px;
	color: white;
}
.s_btn_mini {
	width: 70px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: transparent;
	background-color: #e82835;	
	font-size: 16px;
	color: white;
}
.d_btn_mini {
	width: 70px;
	height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: transparent;
	background-color: #e82835;	
	font-size: 16px;
	color: white;
}

/* qna Page */
.qna_title {
	padding-top: 30px;
	text-align: left;
	font-weight: bold;
	font-size: 22px;
}

.qna_sub {
	padding-top: 30px;
	text-align: left;
	font-size: 14px;
}
.qna_tbl_box {
	margin-top: 20px;
}
table {
	border-collapse: collapse;
	
}
th, td {
	border-top : 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 20px 20px;
	text-align: left;
}
th:first-child {
	border-left: none;
}
td:first-child {
	border-left: none;
}
.notice_tbl {
	width:100%;
}
.notice_tbl > thead {
	background-color: #E6E6E6;
}
.notice_tbl > thead > tr > th{
	text-align: center;
}
.notice_tbl > thead > tr > th:first-child{
	width:10%;
}
.notice_tbl > thead > tr > th:last-child{
	width:15%;
}
.notice_tbl > tbody > tr > td {
	text-align: center;
}
.notice_tbl > tbody > tr > td:nth-child(2) {
	text-align: left;
}


th {
	width: 300px;
	
}
td {
	width: 700px;
}
.qna_subj {
	width: 650px;
	height: 50px;
	padding: 0px 10px;
}
.qna_cont {
	width: 650px;
	height: 300px;
	resize: none;
	padding: 15px 15px;
}
.qna_btn_box{
	margin-top: 30px;
}
.btn_c {
	width: 150px;
	height: 50px;
	background-color: #ccc;
	border: transparent;
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin-right: 5px;
}
.btn_s {
	width: 150px;
	height: 50px;
	background-color: #e82835;
	border: transparent;
	color: white;
	font-weight: bold;
	font-size: 16px;
}
#rs {
	width: 880px;
}
#rc {
	width: 1000px;
}
.ad {
	width: 1000px;
}
.ad_date {
	width: 260px;
	height: 85px;
	float: left;
	padding: 33px 20px;
	text-align: right;
	font-size: 15px;
}
.a_l_btn {
	color: #e82835;
	cursor: pointer;
}
