*{
    margin: 0 auto;
    padding : 0 auto;
    font-family: 'Pretendard-Regular';
}
#wrap{
    line-height: 1.7;
    width: 100%;
}
#container{
    width: 1280px;
}
#red_line{
	margin : 0;
	padding : 0;
}

.main2{
	margin-top:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
#travel_price_detail_text > ul{
	padding-left:10px;
	
}
#travel_price_detail_text > ul > li{
    
    list-style-type: "- ";
}
#travel_price_detail > table{
    border-collapse: collapse;
    width: 800px;
    border-left: 0px solid white;
    border-right: 0px solid white;
}

#travel_price_detail > table > thead > tr > th {
    padding: 20px;
    border: 1px solid rgba(156, 156, 156, 0.89);
	background-color: rgb(240, 240, 240);
	line-height:1.5;
    
}
#travel_price_detail > table >tbody > tr>td{
    padding: 20px;
    border: 1px solid rgba(156, 156, 156, 0.89);
}
#product_price{
	font-style: bolder;
	color:black;
	font-size:18px;
}
#travel_rool{
    height: 56px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    margin-bottom:50px;
    /* border: 1px solid black; */
}
#travel_rool_text{
    position: relative;
    top: 16px;
}
#product_img{
    position: relative;
    float: left;
    width: 700px;
    height: 44px;
    /* border: 1px solid black; */
}
#product_right{
    position: relative;
    float: right;
    /* border: 1px solid black; */
    width: 570px;
    height: 434px;
    padding-left : 50px;
    top : -36px;
}
#product_title{
    position: absolute;
    margin-top:35px;
    width: 520px;
    font-size: 26px;
    line-height: 1.4;
    
    /* border: 1px solid black; */
}
#product_detail{
    position: relative;
    color:gray;
    bottom: 25px;
}
#product_info{
    position: absolute;
    width: 490px;
    height: 200px;
    top: 100px;
    margin-top:30px;
}
.product_ico{
	position:absolute;
	margin-left:10px;	
	float:left;
	display:flex;
	border-top: 1px solid rgba(211, 211, 211, 0.89);
	border-bottom: 1px solid rgba(211, 211, 211, 0.89);
	width:490px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
#hash{
    margin-bottom: 30px;
}
.product_price{
	position:absolute;
	clear:both;
	top:250px;
	text-align:right;
	left:370px;
	font-size:20px;
	width:130px;
	margin-bottom:20px;
}
#product_hash{
    font-size: 13px;
    color: white;
    background-color: rgb(201, 201, 201);
    padding: 5px;
    border-radius: 5px;
}
#product_main{
    height: 570px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.89);
}
#travel_info{
    width: 1430px;
    height:4400px;
    margin-top:0px;
    z-index:-1;
}

/* #sticky{
	position:relative;
    border: 1px solid yellow;
    top: 0px;
    height: 3000px;
    width:1380px;
    right:100px;
    z-index:-1;
} */

aside{
    margin-top:20px;
    right: 300px;
    position: sticky; 
    left: 900px;
    margin-right:150px; 
    top: 170px;
    text-align:center;
    /* border: 1px solid red; */
    float: right;
    width: 380px;
    height: 670px;
    z-index:90;
}

#travel_main_info{
    
    position: relative;
    float: left;
    width: 870px;
    height:4300px;
    border-right: 1px solid rgba(211, 211, 211, 0.89);
    padding-right:30px;
    /* border: 1px solid black; */
}

#theme_detail{
    /* border: 1px solid blue; */
}
#theme_detail_info > ul > li{
    list-style-type: none;
}
#theme_detail_title{
    /* border: 1px solid blue; */
}
#warp_theme_img{
    position: relative;
    
}
#theme_detail_img{
    position: absolute;
    color:white;
    padding: 20px;
}
#theme_detail_info{
    padding: 0px;
}
/* 약관 모달 */
.termsmodal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: 'Pretendard-Regular';
}

.termsmodal-wrap{
    border-radius: 3px;
    padding: 0 70px 0 70px;
    top: 10%;
    position: relative;
    overflow: auto;
    background-color: white;
    height: 730px;
    width: 770px;
    opacity: 1;
    z-index: 10;
}
.termsmodal-bg{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.termsmodal-close{
    display:block;
    font-size:50px;
    text-align:center;
    line-height: 100%;
    border-radius:20px;
    width: 60px;
    height: 60px;
    cursor:pointer;
    color:black;
    opacity: 1;
    z-index: 10;
    position: relative;
    left: 47%;
    top: 50px;
}
.termsmodal-title{
    position:fixed;
    background-color: white;
    width: 670px;
    float: right;
}


/*미팅 장소 모달*/

.meetingmodal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: 'Pretendard-Regular';
    border-radius: 5px;
}

.meetingmodal-wrap{
    border-radius: 3px;
    padding: 0 70px 0 70px;
    top: 10%;
    position: relative;
    overflow: auto;
    background-color: white;
    height: 730px;
    width: 770px;
    opacity: 1;
    z-index: 10;
    font-size: 15px;
}
.meetingmodal-bg{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.meetingmodal-close{
    display:block;
    font-size:50px;
    text-align:center;
    line-height: 100%;
    border-radius:20px;
    width: 60px;
    height: 60px;
    cursor:pointer;
    color:black;
    opacity: 1;
    z-index: 10;
    position: relative;
    left: 47%;
    top: 50px;
    font-style: normal;
}
.meetingmodal-title{
    position:fixed;
    background-color: white;
    width: 670px;
    float: right;
}

.meeting{
    margin-top :30px;
    border: 1px solid purple;
    line-height: 150%;
    height: 300px;
    padding: 30px 30px 70px 30px ;
    margin-bottom: 20px;
}
.meeting_title{
    font-size: 20px;
}
.meeting_title > dd{
    padding-top: 15px;
    font-size: 18px;
}
.meeting > em{
    font-size: 13px;
}
.meeting > ul{
    padding: 0px;
}
.meeting > ul > li{
   list-style-type: none;
   font-size: 14px;
   color: gray;
}
#meetingplace {
    position: absolute;
    padding: 13px 20px 13px 20px;
    left: 700px;
    color: white;
    background-color: #212226;
    border-radius: 5px;
    cursor: pointer;
}

.yakwan{
    position: absolute;
    left:750px;
    
}
.yakwan > input{
    position: absolute;
    padding: 13px 20px 13px 20px;
    top: -45px;
    color: white;
    background-color: #212226;
    border-radius: 5px;
    cursor: pointer;
    left:-25px;
}
.termsofservice{
    padding-top: 20px;
}

/* 또 다른 약관 접기*/

.yakwan_no , #show{
    background-color: rgb(214, 214, 214);
    color: white;
    padding: 10px;
    cursor: pointer;
}
em{
    color: purple;
    font-style: normal;
    font-weight: bold;
}

.yui{
    padding: 20px;
    border: 1px dashed red;
}
.yui_title{
    padding : 10px 0 10px 0;
}
.guide_info > table {
    font-size: 17px;
    margin: 10px;
}


