@charset "UTF-8";
*{
	margin: 0 auto;
	padding: 0 auto;
}
div {
	display: block;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
table {
	width: 400px;
	height: 150px;
	border-collapse: collapse;
	margin-top: 30px;
	font-size: 24px;
}

tr:first-child {
	background-color: #ccc;
}
.box {
	height: 300px;
}
.findId {
	width: 550px;
	height: 35px;
	text-align: center;
	background: url(../img/point.PNG) no-repeat;
	background-position: 0px -3px;
	font-size: 23px !important;

}
.container{
    margin: 60px 0 20px 0;
    font-size: 30px;
    color: #000;
    text-align: center;
    font-weight: normal;
    line-height: 1;
}
