@charset "UTF-8";

.termsmodal_res{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: 'Pretendard-Regular';
}

.termsmodal-wrap_no{
    border-radius: 3px;
  
    top: 10%;
    position: relative;
    overflow: auto;
    background-color: white;
    height: 600px;
    width: 800px;
    opacity: 1;
    z-index: 10;
}
.termsmodal-bg_no{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.termsmodal-close_no{
    display:block;
    font-size:50px;
    text-align:center;
    line-height: 100%;
    border-radius:20px;
    width: 60px;
    height: 60px;
    cursor:pointer;
    color:black;
    opacity: 1;
    z-index: 10;
    position: relative;
    left: 40%;
    top: 50px;
}
.termsmodal-title_no{
    position:fixed;
    background-color: white;
    width: 800px;
    float: right;
    padding-left: 40px;
}
#no_tbl{
	border-collapse:collapse;
	width:700px;
	height: 150px;
	margin-bottom: 20px;
}
#no_tbl2{
	border-collapse:collapse;
	width:700px;
	height: 500px;
}
#box_no{
	margin-top: 30px;
	width:100%; height:500px; 
	overflow:auto;
}
.tbl_no > tbody > tr > td{
	height: 20px;
}
