*{
	margin:0 auto;
	padding:0 auto;
}
.container {
	width: 1300px;
	margin: 0 auto;
	text-align: center;
}

.emailtr {
	width: 1063px;
}

#text {
	margin: 0 auto;
	font-size: 20px;
	width: 480px;
}

#input {
	
	width: 500px;
	height: 51px;
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
}

.input {
	width: 500px;
	height: 51px;
	width: 351px;
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
}

#email {
	display: inline;
	width: 351px;
	height: 51px;
	font-family: 'UhBeeSe_hyun';
	font-family: 'Pretendard-Regular';
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
}

#submit {
	height:100px;
	margin: 0 auto;
	width: 500px;
	background-color: #DC143C;
	color: white;
	font-family: 'UhBeeSe_hyun';
	font-family: 'Pretendard-Regular';
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
	font-size: 20px;
}

#content {
	color: white;
	text-align: center;
	border: 1px solid gray;
	background-color: gray;
	font-size: 15px;
	font-family: 'Pretendard-Regular';
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
}


#btn1 {
	
	font-family: 'UhBeeSe_hyun';
	font-family: 'Pretendard-Regular';
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
	margin: 0 auto;
	width: 250px;
	height:50px;
	background-color: gray;
	color: white;
}

form {
	width: 100%;
	height: 600px; margin : 0 auto;
	font-size: 20px;
	border-top: 2px solid gray;
	
	border-bottom: 2px solid gray;
	margin: 0 auto;
}

#btn2 {
	
	font-family: 'UhBeeSe_hyun';
	font-family: 'Pretendard-Regular';
	src: url("/fonts/Jalnan.ttf");
	font-family: "jalnan";
	margin: 0 auto;
	width: 250px;
	height:50px;
	color: white;
	background-color: gray;
}
.btn{
	text-align:center;
}
#submit:hover {
	background-color: #F08080;

}
table{
	margin:0 auto;
	
}