
#find{
	
	margin-top:100px;
}
#find a{
	text-align:center;
	
}
.info{
	text-align:center;
	background-color:#e4f5ff;

}

h1{
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}
sub{
	
    font-size: 15px;
    color: #888;
    letter-spacing: -.5px;
}
.tb_mypage{
	table-layout: fixed;
    width: 1280px;
    border-top: 1px solid #111;
}
.tb_mypage tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    height:50px;
}
.tb_mypage th{
	padding: 15px 15px 16px 15px;
    font-size: 14px;
    color: #555;
    background: #e6e7eb;
    border-left: 1px solid #ccc;
}
.content_section{
	margin:0 auto;
	font-family: "맑은 고딕","Malgun Gothic","Apple SD Gothic Neo","Dotum",Helvetica,Sans-serif;
    color: #555;
	width:1280px;
	height:300px;
	display: block;
	background-color:#e4f5ff;
	margin-top:100px;
	margin-bottom:100px;
	
}
.section_content{
	position:relative;
	right:60px;
	margin:0 auto;
	height: 236px;
    width: 1280px;
    padding: 44px 0 0 130px;
    font-size: 20px;
    letter-spacing: -0.07em;
}
.qna_section{
	 width: 1280px;
   
}
.reservation_section{
	width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.like_section img{
    width: 280px;
    height: 212px;
    border:0;
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: top;
}
.like_section li{
	width: 327px !important;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #ccc;
	    
}
.like_section ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
    
}	
.like_wrap{
	border: 1px solid #ccc;
    border-right: none;
    height:300px;
}
.list_section{
	margin-top:50px;
	margin-bottom :50px;
	width:100%;
	height:400px;
	padding:5px;
	margin: 0 auto;
    width: 1280px;
}
div {
    display: block;
}

